/* General CSS Code */
body {
    padding: 0;
    margin: 0;
    color: white;
    font-family: dialogueText;
    text-shadow: 2px 2px black;
}
html, body, #map {
    height: 100%;
    width: 100%;
    background: #000000;
}

.clear {
    clear: both;
}

.leaflet-container .leaflet-control-mouseposition {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  margin:0;
  color: #fff;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.label {
  color: white;
  text-shadow: 0px 0px .5em black;
  background: transparent;
  border: none;
  box-shadow: none;
  font-family: hylianSerif, "Cambria", "Georgia";
}

.leaflet-popup-content {
  text-shadow: none;
}

.leaflet-control-minimap {
  background: #000000;
}

#screenCenter {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -8px;
  z-index: 9000;
}

/* Custom Fonts */

@font-face {
	font-family: dialogueText;
	src: url(fonts/chiaro.ttf);
}

@font-face {
	font-family: hylianSerif;
	src: url(fonts/HyliaSerifBeta-Regular.otf);
}

@font-face {
	font-family: bossText;
	src: url(fonts/KokinEdo.otf);
}

/* Sidebar general styling */

.sidebar-tabs {
  background: rgba(209, 147, 0, 0.95);
  text-shadow: 0px 0px 5px black;
}

.sidebar-tabs > li, .sidebar-tabs > ul > li {
  color: white;
  text-shadow: 0px 0px 5px black;
}

.sidebar-tabs > li.active, .sidebar-tabs > ul > li.active {
  background: rgba( 6, 80, 224, 1);
}

.sidebar-tabs > li:hover, .sidebar-tabs > ul > li:hover {
  color:white;
  background: rgba(166, 100, 0, 0.95);
  }

.leaflet-bar a, .leaflet-bar {
  
  color:white;
  background-color: rgba(209, 147, 0, 0.95);
  text-shadow: 0px 0px 5px black;
}

.leaflet-bar a:hover {
  color:white;
  background-color: rgba(166, 100, 0, 0.95);
}

.leaflet-bar a.leaflet-disabled {
  color:white;
  background-color: rgba(187, 165, 161, 0.95);
}

.sidebar-content {
  background: rgba(4, 20, 56, 0.8);
  color: white;
  text-shadow: 2px 2px black;
  font-family: dialogueText;
  border-radius: 5px 0px 0px 5px;
  font-size: 16px;
}

.sidebar-header {
  background: rgba( 6, 80, 224, 1);
  color: white;
  text-shadow: 2px 2px black;
  font-family: bossText;
  font-size: 16px;
}

.sidebar-content * a:link {
    color: #CC0000;
}

.sidebar-content * a:visited {
    color: #AA0000;
}

.sidebar-content * a:hover {
    color: #DD0000;
}

.sidebar-content * a:active {
    color: #AAAAAA;
}

/* Age Selection interface */

#ageToggle{
  height: 100px;
  background: rgba(0,0,0,.7);
  width: 100px;
  position: absolute;
  left: 100px;
  top: 0px;
  z-index: 5000;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  margin-left: 3px;
}

#ageToggleSelection{
  height: 100px;
  width: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 5000;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  margin-left: 3px;
  border-bottom: 3px solid white;
}

#ageToggleContainer{
  cursor: pointer;
  height: 100px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 3px;
}

#ageToggleContainer > img{
  border-radius: 5px;
  margin-top: -20px;
}

#ageToggleContainer:hover{
    box-shadow: 0px 0px 20px 0px rgba(209, 147, 0, 0.8);
    background: rgba(209, 147, 0, 0.8);

}

#ageToggleContainer:active {
    box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.8);
    background: rgba(209, 147, 0, 0.8);
}

/*Tooltipster Shadow theme, with customizations */

.tooltipster-sidetip.tooltipster-shadow .tooltipster-box{border:none;border-radius:5px;background:#fff;box-shadow:0 0 10px 6px rgba(0,0,0,.1)}.tooltipster-sidetip.tooltipster-shadow.tooltipster-bottom .tooltipster-box{margin-top:6px}.tooltipster-sidetip.tooltipster-shadow.tooltipster-left .tooltipster-box{margin-right:6px}.tooltipster-sidetip.tooltipster-shadow.tooltipster-right .tooltipster-box{margin-left:6px}.tooltipster-sidetip.tooltipster-shadow.tooltipster-top .tooltipster-box{margin-bottom:6px}.tooltipster-sidetip.tooltipster-shadow .tooltipster-arrow{height:6px;margin-left:-6px;width:12px}.tooltipster-sidetip.tooltipster-shadow.tooltipster-left .tooltipster-arrow,.tooltipster-sidetip.tooltipster-shadow.tooltipster-right .tooltipster-arrow{height:12px;margin-left:0;margin-top:-6px;width:6px}.tooltipster-sidetip.tooltipster-shadow .tooltipster-arrow-background{display:none}.tooltipster-sidetip.tooltipster-shadow .tooltipster-arrow-border{border:6px solid transparent}.tooltipster-sidetip.tooltipster-shadow.tooltipster-bottom .tooltipster-arrow-border{border-bottom-color:#fff}.tooltipster-sidetip.tooltipster-shadow.tooltipster-left .tooltipster-arrow-border{border-left-color:#fff}.tooltipster-sidetip.tooltipster-shadow.tooltipster-right .tooltipster-arrow-border{border-right-color:#fff}.tooltipster-sidetip.tooltipster-shadow.tooltipster-top .tooltipster-arrow-border{border-top-color:#fff}.tooltipster-sidetip.tooltipster-shadow.tooltipster-bottom .tooltipster-arrow-uncropped{top:-6px}.tooltipster-sidetip.tooltipster-shadow.tooltipster-right .tooltipster-arrow-uncropped{left:-6px}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-shadow-customized .tooltipster-box {
	background-color: rgba(4, 20, 56, 0.8);
}

.tooltipster-arrow-border{	border-color: rgba(4, 20, 56, 0.8)}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-shadow-customized .tooltipster-content {
   color: white;
  text-shadow: 2px 2px black;
  font-family: dialogueText;
  border-radius: 5px 0px 0px 5px;
  font-size: 14px;
	padding: 8px;
}

/* ROM Dump Output text field */

#verboseOutput{
  position: relative;
  width: 370px;
  min-height: 100px;
  
  white-space: pre;
  border-radius: 3px;
  font-size: 12px;
  color:#CFDBEC;
  background-color:#2f2f2f;
  background-image:-webkit-repeating-linear-gradient(top, #446 0px, #444 14px, #2f2f4f 14px, #2f2f2f 28px);
  background-image:-moz-repeating-linear-gradient(top, #446 0px, #444 14px, #2f2f4f 14px, #2f2f2f 28px);
  background-image:-ms-repeating-linear-gradient(top, #446 0px, #444 14px, #2f2f4f 14px, #2f2f2f 28px);
  background-image:-o-repeating-linear-gradient(top, #446 0px, #444 14px, #2f2f4f 14px, #2f2f2f 28px);
  background-image:repeating-linear-gradient(top, #446 0px, #444 14px, #2f2f4f 14px, #2f2f2f 28px);
  text-shadow: none;
  overflow: auto;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
  color: white;
}


/*Location Changer Interface */
#locationChanger
{
  width: 370px;
  height: 80px;
  margin: 0px;
  font-size: 16px;
  
}

#locationChangerPreview
{
  width: 370px;
  height: 50px;
  margin: 0px;
  margin-bottom: 10px;
  font-size: 14px;
}

.selectDropdown {
  width: 300px;;
}

#locationChangerRoom {
  width: 303px;
}

.select2-selection--multiple .select2-search--inline .select2-search__field {
  width: auto !important;
  scroll-y: auto;
  color: white;
  text-shadow: 2px 2px black;
  font-family: dialogueText;
}

.select2-container--default .select2-selection--multiple {
  background-color: rgba(0,0,0,.4);
  border: 1px solid rgba(5,5,5,.4);
  height: 64px;
  overflow: auto;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  font-size: 8px;
  background-color: rgba(20,20,20,.8);
}

.select2-dropdown {
  z-index: 9001;
  background-color: rgba(0,0,0,.9);
  color: white;
  border: 1px solid rgba(5,5,5,.4);
}

.select2-container--default .select2-selection--single {
  background-color: rgba(0,0,0,.4);
  border: 1px solid rgba(5,5,5,.4);
  margin-bottom: 5px;
  padding-left: 0px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: white;
  padding-left: 0px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: rgba(40,40,40,.9);
 }
 
 .select2-container--default .select2-results__option[aria-selected=true] {
  background-color: rgba(70,70,70,.9);
}
  
.select2-container--default .select2-search--dropdown .select2-search__field {
  background-color: rgba(70,70,70,.9);
  border: 1px solid rgba(5,5,5,.4);
}

/* General Table theming */

table {
  background-color: rgba(20,20,20,.7);
  width: 100%;
  font-size: 14px;
  border: solid #666 1px;
  border-collapse: collapse;
}

.tableContainer {
  position: relative;
  width: 350px;
  min-height: 200px;
  overflow-y: auto;
}

th {
  background-color: rgba(80,80,80,1);
  border: solid #666 1px;
}

td {
  border: solid #666 1px;
  text-overflow: ellipsis;
}

tr {
  border: solid #666 1px;
  background-color: rgba(30,30,30,.7);
}

tr:nth-child(even) {
    background-color: rgba(50,50,50,.7);
}

tr:hover {
  background-color: rgba(0,0,0,.9);
}

td > div {
  width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* Actor Tab Specific Table */

.actorSetupSplit {
  background-color: rgba(70,70,70,.9);
  text-align: center;
}

.actorDetails, .actorSearch, .actorZoom {
  text-align: center;
}

.actorDetails:hover, .actorSearch:hover, .actorZoom:hover {
  color: #DD0000;
  background-color: #888;
}

.actorDetails:active, .actorSearch:active, .actorZoom:active {
  color: #AAAAAA;
  background-color: #080;
}

/* Modal */

.jquery-modal {
  z-index: 9001;
}

.modal {
  color: white;
  text-shadow: 2px 2px black;
  text-align: left;
  font-family: dialogueText;
  background-color: rgba(4, 20, 56, 0.8);
  height: 280px;
  width: 650px;
  max-width: 800px;
  padding: 20px;
}

.blocker {
  background-color: transparent;
}

.modal a.close-modal {
  position: absolute;
  top: inherit;
  border: solid 8px rgba(6, 80, 224, .85);
  width: 0px;
  height: 0px;
  background: none;
  right: 50%;
  box-shadow: 0px 0px 8px 0px rgba(6, 80, 224, .85);
  bottom: -8px;
}

div.profileSection{
  float: left;
}


/* Video Player */


#videoPlayer {
  z-index: 9001;
  position: fixed;
  bottom: -300px;
  left: 250px;
  color: white;
  text-shadow: 2px 2px black;
  text-align: left;
  font-family: dialogueText;
  background-color: rgba(4, 20, 56, 0.8);
  width: 420px;
  height: 256px;
  padding: 10px;
  border-radius: 5px;
}

#videoPlayer a.close-modal {
  position: absolute;
  top: -8px;
  border: solid 8px rgba(6, 80, 224, .85);
  width: 0px;
  height: 0px;
  background: none;
  right: 50%;
  box-shadow: 0px 0px 8px 0px rgba(6, 80, 224, .85);
  bottom: inherit;
}

.glitchContainer {
  width: 100px;
  height: auto;
  margin-left: -75px;
  text-align: center;
  float: left;
  display: inline-block;
}

.glitchIcon {
  background-color: rgba(4, 20, 56, 0.8);
  border: solid 1px rgba(8, 40, 112, 0.8);
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  font-family: dialogueText;
  margin: 1px;
  display: inline-block;
}

.glitchIcon:hover {
  background-color: rgba(6, 30, 84, 0.8);
  border: dashed 1px rgba(16, 80, 224, 0.8);
}

.leaflet-div-icon {
  background: none;
  border: none;
}

/* Drop Table visualization */

div.dropTable {
  width: 100%;
  height: 55px;
  font-size: 12px;
  font-family: "Cambria", "Georgia";
  text-shadow: 1px 1px black;
}

div.dropTableSlot {
  height: 100%;
  text-align: center;
  background: white;
  border: solid 1px black;
  display: inline-block;
}

.fractionTop{border-bottom:solid white 1px; display:inline-block; width: 20px;}
.fractionbottom{ display:inline-block;}

.dropImage {
  height: 20px;
}

/* Enemy Thumbnails on Map */

.markerContainer {
  width: 200px;
  margin-left: -100px;
  text-align: center;
}

.leaflet-marker-icon.leaflet-interactive.markerContainer, .leaflet-pane > svg path.leaflet-interactive .markerContainer {
  pointer-events: none;
}

.actorIcon {
  width: 16.6%;
  display: none;
  margin-top: -8%;
}

.actorMarker {
  display: none;
}

.glow {
  animation: fadeinout 8s linear forwards;
}

.shake {
  animation: shake 4s linear forwards;
}

@keyframes fadeinout {
  0%,100% { box-shadow: none; }
  12.5%,37.5%,62.5%,87.5% { box-shadow: 0 0px 24px 0 rgba(255,255,255,0.9); }
  25%,50%,75% { box-shadow: 0 0px 24px 0 rgba(0,0,0,0.9); }
}

@keyframes shake {
  0%,100% { margin-left: -8px; }
  12.5%,25%,37.5%,50%,62.5%,75%,87.5% { margin-left: -11px;}
  6.25%,18.75%,31.25%,43.75%,56.25%,68.75%,81.25%,93.75% { margin-left: -5px;}
}

/* Enemy Search Interface */

.button {
    font-family: dialogueText;
    background-color: rgba(4, 20, 56, 0.8);
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    box-shadow: 0 0px 16px 0 rgba(255,255,255,0.5);
}

/* Subtabs */

ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 360px;
  margin-left: 5px;
  text-align: center;
}
ul.tabs li{
  background: rgba(4, 20, 56, 0.8);
  display: inline;
  padding: 10px 15px;
  cursor: pointer;
  width: 137px;
  margin-bottom: 5px;
  border-radius: 5px 5px 0px 0px;
}

ul.tabs li.current{
  background: rgba(8, 40, 112, 0.8);
}

.tab-content{
  display: none;
  background: rgba(8, 40, 112, 0.8);
  padding: 15px;
  border-radius: 5px;
  width: 340px;
  margin-top: 10px;
}

.tab-content.current{
  display: inherit;
}
