body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100%;
    background: #050505;
}
.leaflet-container .leaflet-control-mouseposition {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  margin:0;
  color: #fff;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.label {
  color: white;
  text-shadow: 0px 0px .5em black;
  background: transparent;
  border: none;
  box-shadow: none;
  font-family: "Cambria", "Georgia";
}

.leaflet-control-minimap {
  background: #050505;
}

.sidebar-content {
  background: rgba(0, 0, 0, 0.9);
  color: white;
}

#ageToggle{
  height: 100px;
  background: rgba(0,0,0,.7);
  width: 100px;
  position: absolute;
  left: 100px;
  top: 0px;
  z-index: 5000;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
  border-radius: 3px;
}

#ageToggleContainer{
  cursor: pointer;
  height: 100px;
  border-radius: 5px;
}

#ageToggleContainer > img{
  border-radius: 5px;
}

#ageToggleContainer:hover{
    box-shadow: 0px 0px 20px 0px rgba(0, 255, 0, 0.8);
    background: rgba(0, 255, 0, 0.8);

}

#ageToggleContainer:active {
    box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.8);
    background: rgba(0, 255, 0, 0.8);
}